.buttonWrapper {
    display: flex;
    height: 4em;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    font-size: 1.4em;
    background-color: olivedrab;
    color: azure;
    flex: 1;
    outline: 1px solid chartreuse;
}
.buttonWrapper:hover{
    background-color: chartreuse;
}

.operator {
    background-color: wheat;
    color:brown;
}